.navbar-brand svg {
	margin-top: -169px;
}

.navbar {
	margin-top: 160px;
	background-color: #000;
	border-color: #000;
}

.navbar-skyline {
	position: absolute;
	right: 0;
	top: -160px;
}

p, dd {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ie-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

blockquote {
	font-size: inherit;
}

@media screen and (max-width: 580px) {
	.navbar-skyline {
		display: none;
	}
}

.freifunk, .navbar-inverse .navbar-brand {
	color: rgb(223, 58, 108);
}

#news.list-unstyled li {
	text-indent: -10px;
	padding-left: 10px;
}

.pagination {
	text-align: center;
	display: block;
}

footer {
	border-top: 1px #bbb solid;
	margin-top: 20px;
	padding-top: 10px;
	clear: both;
}

p, dd {
	text-align: justify;
}

@media screen and (max-width: 1170px) {
	.container .jumbotron {
		padding: 30px;
	}
}

@media screen and (max-width: 768px) {
	.container .jumbotron {
		padding: 15px;
	}
}

.sponsors div {
	text-align: center;
}

.sponsors img {
	vertical-align: middle;
	margin: 0 auto;
	max-width: 100%;
}
