.navbar-brand svg {
	margin-top: -169px;
}

.navbar {
	margin-top: 160px;
	background-color: #000;
	border-color: #000;
}

.navbar-skyline {
	position: absolute;
	right: 0;
	top: -160px;
}

p, dd {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ie-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

blockquote {
	font-size: inherit;
}
@media screen and (min-width: 581px) {
	.navbar-toggle svg {
		display: none;
	}
}
@media screen and (max-width: 580px) {
	.navbar-skyline, .navbar-brand {
		display: none;
	}
	.navbar-toggle {
		position: absolute;
		right: -57px;
		top: 10px;
		border-left: 0;
		background-color: #eee;
		border-radius: 0 4px 4px 0;
		padding: 3px;
		margin: 0;
	}
	.navbar-toggle .icon-bar {
		display: none;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		background-color: #ccc;
	}
	nav.navbar.visible .navbar-toggle {
		background-color: #000;
	}
	.navbar {
		margin-top: 0;
		position: fixed;
		left: 0px;
		z-index: 5;
		height: 100%;
		width: auto;
	}
	#navbar-slider {
		height: 100%;
		width: 0;
		transition-duration: 200ms;
		transition-property: width;
		overflow-x: hidden;
		overflow-y: show;
		position: relative;
	}
	nav.navbar.visible #navbar-slider{
		width: 200px;
	}
	#navbar-collapse {
		width: 100%;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0px;
		overflow: visible !important;
	}
	main {
		padding-top: 55px;
	}
}

.freifunk, .navbar-inverse .navbar-brand {
	color: rgb(223, 58, 108);
}

#news.list-unstyled li {
	text-indent: -10px;
	padding-left: 10px;
}

footer {
	border-top: 1px #bbb solid;
	margin-top: 20px;
	padding-top: 10px;
	clear: both;
}

p, dd {
	text-align: justify;
}

@media screen and (max-width: 1170px) {
	.container .jumbotron {
		padding: 30px;
	}
}

@media screen and (max-width: 768px) {
	.container .jumbotron {
		padding: 15px;
	}
}

.sponsors div {
	text-align: center;
}

.sponsors img {
	vertical-align: middle;
	margin: 0 auto;
	max-width: 100%;
}

#events h3 {
	margin: 0 0 5px;
	font-size: 18px;
	float: left;
	clear: left;
	width: 20%;
	text-align: center;
	border: 1px #dc0067 solid;
	border-radius: 3px;
}
#events h3 span {
	display: block;
}
#events h3 .day {
	background-color: #dc0067;
	color: #fff;
	font-weight: bold;
}
#events ul {
	padding-left: 20px;
	float: left;
	width: 80%;
}
#events li {
	list-style-type: "▸ ";
	cursor: pointer;
}
#events li.expand {
	list-style-type: "▾ ";
}
#events .details {
	overflow-y: hidden;
	overflow-x: visible;
	max-height: 0;
	transition: max-height 500ms;
}
#events .expand .details {
	overflow-y: scroll;
	max-height: 100px;
}
