.navbar-brand svg {
	margin-top: -169px;
}

.navbar {
	margin-top: 160px;
}

.freifunk, .navbar-inverse .navbar-brand {
	color: rgb(223, 58, 108);
}

footer {
	border-top: 1px #bbb solid;
	margin-top: 20px;
	padding-top: 10px;
	clear: both;
}

p, dd {
	text-align: justify;
}

@media screen and (max-width: 1170px) {
	.container .jumbotron {
		padding: 30px;
	}
}

@media screen and (max-width: 768px) {
	.container .jumbotron {
		padding: 15px;
	}
}
