[submodule "map"]
	path = map
	url = https://github.com/FreifunkBremen/ffmap-d3.git
[submodule "images/logo"]
	path = images/logo
	url = https://github.com/FreifunkBremen/logo.git
[submodule "api/vendor/sabre/vobject"]
	path = api/vendor/sabre/vobject
	url = https://github.com/fruux/sabre-vobject.git
[submodule "api/vendor/sabre/xml"]
	path = api/vendor/sabre/xml
	url = https://github.com/fruux/sabre-xml.git
[submodule "api/vendor/twitteroauth"]
	path = api/vendor/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
