<article class="newsitem">
<header>
{% if include.full == 1 %}
    <h2>
{% else %}
    <h3>
        <a href="{{ include.post.url }}">
{% endif %}
        {{ include.post.title }}
{% if include.full == 1 %}
    </h2>
{% else %}
        </a>
    </h3>
{% endif %}
    <div class="metadata">
        <time datetime="">
            {% assign m = include.post.date | date: "%m" | minus: 1 %}
            {{ include.post.date | date: "%d." }}
            {{ site.data.months.long[m] }}
            {{ include.post.date | date: "%Y" }}
        </time>
{% if include.post.author %}
        <address>{{ include.post.author }}</address>
{% endif %}
    </div>
</header>

<div class="post">
{% if include.full %}
{{ include.content }}
{% else %}
{{ include.post.excerpt | remove:'</p>' | rstrip }}
{% if include.post.excerpt != include.post.content %}<a href="{{ include.post.url }}"> (Weiterlesen)</a>{% endif %}
</p>
{% endif %}
</div>
</article>
