@charset "UTF-8";

.newsitem {
  .metadata {
    display: flex;
    font-size: 16px;
  }

  time {
    margin-right: 50px;
    padding-left: 24px;
    background: url($image-calendar_magenta-png) no-repeat;
  }

  address {
    font-style: normal;
    padding-left: 23px;
    background: url($image-person_magenta-png) no-repeat;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 5px auto;
  }
}
section:nth-child(even) .newsitem {
  time {
    background: url($image-calendar-png) no-repeat;
  }
  address {
    background: url($image-person-png) no-repeat;
  }
}

.newsitem::before {
  content: "";
  background-color: $freifunk_gelb;
  display: block;
  height: 5px;
  width: 70%;
  margin: 5px auto;
}
.newsitem:first-of-type::before {
  content: none;
}

.pager {
  padding: 0;

  li {
    float: left;
    list-style-type: none;
    padding: 10px;
  }
  li:first-child span::before {
    content: "← ";
  }
  li:last-child {
    float: right;
  }
  li:last-child span::after {
    content: " →";
  }
}

.newslist {
  list-style: none;
  padding: 0;
  li {
    padding: 0;
  }
  .date {
    font-style: italic;
  }
}
@media (min-width: 480px) {
  .newslist {
    display: table;

    li {
      display: table-row;
    }
    li > * {
      display: table-cell;
    }
    .date {
      white-space: nowrap;
      padding: 0 0 10px 0;
      text-align: right;
    }
    .title {
      padding: 0 0 10px 30px;
      background: no-repeat 10px 0 url($image-newslist-svg);
    }
    .title:hover {
      background-image: url($image-newslist_magenta-svg);
    }
  }
}
@media (max-width: 479px) {
  .newslist .date {
    padding: 0;
  }
  .newslist .title {
    display: block;
    padding: 0 0 10px 20px;
  }
}

/* vim: syntax=css sw=2 ts=2 sts=2 et
 */
