#karte {
  height: 500px;
  font-size: 34px;
  font-weight: 700;
  background: url(/images/map/3840.png) center center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
  }

  a span {
    background: rgba($freifunk_magenta, 0.9);
  }
  a:hover span {
    background: rgba(lighten($freifunk_magenta, 5%), 0.9);
  }
  #stats {
    display: block;
    font-size: 70%;
  }
}
@media (max-width: 1920px) {
  #karte {
    background: url(/images/map/1920.png) center center;
  }
}
@media (max-width: 1107px) {
  #karte {
    background: url(/images/map/1107.png) center center;
  }
}
@media (max-width: 720px) {
  #karte {
    background: url(/images/map/720.png) center center;
  }
}
@media (max-width: 480px) {
  #karte {
    background: url(/images/map/480.png) center center;
  }
}

#twitter {
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 0 auto;
}
.tweet {
  margin: 30px 0;

  > div {
    line-height: 1;
  }

  .header {
    text-align: justify;
    text-align: justify-all;
    text-align-last: justify;

    svg {
      float: left;
      padding-right: 5px;
    }

    span {
      display: inline-block;
      text-decoration: inherit;
    }
  }

  time {
    font-size: small;
  }

  .handle {
    font-size: small;
  }

  p {
    margin: 10px 0;
  }

  .media {
    display: flex;
    justify-content: space-around;
  }
}
section#termine .flex {
  justify-content: space-around;
  > * {
    flex: 0 0 auto;
    padding: 15px;
  }
  h3, dl {
    margin: 10px 0;
  }
  dd {
    margin-left: 20px;
  }
  dt {
    font-style: italic;
  }
}
@media (min-width: 340px) {
  section#termine .flex > * {
    width: 330px;
  }
}
section:nth-child(even)#karte {
  a span {
    background: rgba($freifunk_gelb, 0.9);
  }
  a:hover span {
    background: rgba(darken($freifunk_gelb, 5%), 0.9);
  }
}

section#partner .flex {
  justify-content: space-around;
  align-items: center;

  > * {
    flex-basis: 0;
    padding: 20px;
    text-align: center;
  }
}

/* vim: syntax=css sw=2 ts=2 sts=2 et
 */
