h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

html {
  font-size: 21px;
  color: #333;
  line-height: 1.3;
}

a {
  color: $freifunk_magenta;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
    text-align: justify;
    hyphens: auto;
}

/* vim: syntax=css sw=2 ts=2 sts=2 et
 */
