<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <title>{% if page.title %}{{ page.title }}{% if paginator.page > 1 %} (Seite {{ paginator.page }}){% endif %} - {% endif %}{{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:image" content="http://bremen.freifunk.net/images/logo/logo_og_facebook.png" />
{% if page.header %}
  {{ page.header }}
{% endif %}
</head>
<body class="container">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-skyline">
      <svg width="351" height="160">
        <image xlink:href="/images/logo/skyline.svg" src="/images/logo/skyline.png" width="351" height="160"/>
      </svg>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" onclick="$('nav.navbar').toggleClass('visible')">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <svg width="50" height="43">
          <image xlink:href="/images/logo/notext.svg" src="/images/logo/notext.png" width="50" height="43"/>
        </svg>
      </button>
      <a class="navbar-brand" href="/">
        <svg width="170" height="188">
          <image xlink:href="/images/logo/homepage.svg" src="/images/logo/homepage.png" width="170" height="188"/>
        </svg>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-slider">
      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="http://wiki.bremen.freifunk.net">Wiki</a></li>
          <li><a href="/map/geomap.html">Knotenkarte</a></li>
          <li><a href="/refugees.html">Flüchtlinge</a></li>
          <li><a href="/faq.html">Häufige Fragen</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/kontakt.html">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  <main>
        {{ content }}
  </main>
  <footer>
    <div class="pull-left">
      <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">
        <img src="/images/cc-by-sa.png" alt="Dieses Werk ist lizenziert unter einer Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz">
      </a>
    </div>
    <div class="pull-right">
      <a href="/kontakt.html">Kontakt</a>
      /
      <a href="/impressum.html">Impressum</a>
    </div>
  </footer>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
	<script src="/js/refugees.js"></script>
</body>
</html>
