---
layout: compress
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <title>{% if page.title %}{{ page.title }}{% if paginator.page > 1 %} (Seite {{ paginator.page }}){% endif %} - {% endif %}{{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:image" content="//bremen.freifunk.net/images/logo/logo_og_facebook.png" />
{% if page.header %}
  {{ page.header }}
{% endif %}
</head>
<body>
  <header>
    <button type="button" id="navbutton">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" id="logo">
      <svg width="170" height="188">
        <image xlink:href="/images/logo/homepage.svg" src="/images/logo/homepage.png" width="170" height="188"/>
      </svg>
    </a>
    <svg width="439" height="200" id="skyline">
      <image xlink:href="/images/logo/skyline.svg" src="/images/logo/skyline.png" width="439" height="200"/>
    </svg>
    <nav>
      <a href="/" id="navlogo">
        <svg width="170" height="188">
          <image xlink:href="/images/logo/homepage.svg" src="/images/logo/homepage.png" width="170" height="188"/>
        </svg>
      </a>
      <ul id="mainnav">
        <li class="active"><a>Startseite</a>
          <ul>
            <li><a href="/#was-ist-freifunk">Was ist Freifunk?</a>
            <li><a href="/#kontakt">Kontakt</a>
            <li><a href="/#news">News</a>
            <li><a href="/#kalender">Kalender</a>
            <li><a href="/#karte">Karte</a>
            <li><a href="/#projekte">Projekte</a>
            <li><a href="/#partner">Partner</a>
          </ul>
        <li><a>Einsteiger</a>
          <ul>
            <li><a href="/anleitungen.html">Anleitungen</a>
            <li><a href="/firmware/">Firmware</a>
            <li><a href="/referenzen.html">Referenzen</a>
            <li><a href="/hardware.html">Hardware</a>
            <li><a href="/faq.html">FAQ</a>
            <li><a href="/dienste.html">Dienste</a>
          </ul>
        <li><a>Engagierte</a>
          <ul>
            <li><a href="/kontakt.html">Mailingliste</a>
            <li><a href="/firmware/">Firmware</a>
            <li><a href="//wiki.bremen.freifunk.net/">Wiki</a>
            <li><a href="/technik.html">Technik</a>
            <li><a href="/infomaterial.html">Informaterial</a>
            <li><a href="/struktur.html">Struktur</a>
          </ul>
        <li><a>Unterstützer</a>
          <ul>
            <li><a href="/unterstuetzen.html#spenden">Spenden</a>
            <li><a href="/unterstuetzen.html#">Server stellen</a>
            <li><a href="/unterstuetzen.html#">Router verkaufen</a>
            <li><a href="/unterstuetzen.html#">Infos verbreiten</a>
            <li><a href="/unterstuetzen.html#">Dachflächen</a>
            <li><a href="/infomaterial.html">Infomaterial</a>
        </ul>
      </ul>
      <ul>
        <li><a href="//wiki.bremen.freifunk.net/#infos-zu-unseren-treffen" target="_blank">Treffen: 1.+&thinsp;3. Fr. im Monat</a></li>
        <li><a href="/kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  <main>
        {{ content }}
  </main>
  <footer>
    <div>
      Alle Texte sind lizensiert unter <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC-BY-SA 4.0</a>.
    </div>
    <ul role="navigation">
      <li><a href="/kontakt.html">Kontakt</a>
      <li><a href="/impressum.html">Impressum</a>
    </ul>
  </footer>
  <div id="blur"></div>
  <script src="/assets/main.js"></script>
</body>
</html>
