---
layout: compress
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="/assets/main.css?{{ site.data['hash'] }}">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:image" content="//bremen.freifunk.net/images/logo/logo_og_facebook.png" />
{% if page.header %}
  {{ page.header }}
{% endif %}
</head>
  <!-- These two wrapper divs sadly are necessary to correctly show the menu on Webkit mobile browsers, see http://stackoverflow.com/q/14270084 -->
<body><div><div>
  <header id="pageheader">
    <h1>Freifunk Bremen</h1>
    <button type="button" id="navbutton">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a href="/" id="logo">
      <svg width="170" height="188">
        <image xlink:href="/images/logo/homepage.svg" src="/images/logo/homepage.png" width="170" height="188"/>
      </svg>
    </a>
    <svg width="439" height="200" id="skyline">
      <image xlink:href="/images/logo/skyline.svg" src="/images/logo/skyline.png" width="439" height="200"/>
    </svg>
    <nav>
      <a href="/" id="navlogo">
        <svg width="170" height="188">
          <image xlink:href="/images/logo/homepage.svg" src="/images/logo/homepage.png" width="170" height="188"/>
        </svg>
      </a>
      <ul id="mainnav">
{% for category in site.data.menu %}
        <li data-catid="{{ category.id }}"{% if category.id == page.category_id %} class="active"{% endif %}>
          <a>{{ category.name }}</a>
          <ul>
{% for item in category.items %}
            <li><a href="{{ item.link }}">{{ item.name }}</a>
{% endfor %}
          </ul>
{% endfor %}
      </ul>
      <ul>
        <li><a href="//wiki.bremen.freifunk.net/#infos-zu-unseren-treffen" target="_blank">Treffen: 1.+&thinsp;3. Fr. im Monat</a></li>
        <li><a href="/kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <div>
      Alle Texte sind lizensiert unter <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">CC-BY-SA 4.0</a>.
    </div>
    <ul role="navigation">
      <li><a href="https://github.com/FreifunkBremen/bremen.freifunk.net/edit/master/{{ page.path }}" target="_blank">Diese Seite bearbeiten</a></li>
      <li><a href="/kontakt.html">Kontakt</a>
      <li><a href="/impressum.html">Impressum</a>
    </ul>
  </footer>
  <div id="blur"></div>
  <script src="/assets/main.js?{{ site.data['hash'] }}"></script>
</div></div></body>
</html>
<!-- vim: syntax=html sw=2 ts=2 sts=2 et
-->
